.main {
    display: flex;
    flex-direction: row-reverse;
}
*::-webkit-scrollbar-thumb{
    width: 2px;
}
.input {
    min-width: 250px;
    min-height: 30px;
    font-size: 20px;
    margin-top: 5px;
    border: 0;
    border-radius: 8px;
    text-align: center;
    background-color: lavender;
}
.button {
    background: #22ac14;
    border-radius: 5px;
    margin-top: 20px;
    width: 80px;
    height: 35px;
    font-family: Bpmonline Open Sans;
    font-weight: 500;
    font-size: 18px;
    color: white;
    border: 0;
}
.validate-error {
    width: 100%;
    padding: 0;
    font-size: 90%;
    color: white;
    background-color: #58aeda;
    border-radius: 0 0 5px 5px;
    font-family: Bpmonline Open sans-serif;
}
.input:focus {
    outline: auto;
    outline-color: #58aeda !important;
}
:focus {
    outline: none;
}
* {
    font-family: Bpmonline Open Sans;
    font-size: 14px;
    font-weight: 100;
}
body {
    background-color: #dbdbdb;
}
.main-frame {
    display: flex;
    flex-direction: row;
    width: 100%;
}