.right-container {
    right: 0;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 60px;
    height: calc(100vh - 11px);
    background-color: #ebeeef;
}
.profile-container{
    height: 60px;
}
.profile-photo{
    background-color: white;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    margin: 10px;
}
.profile-menu {
    border-color: black;
    border-width: 1px;
    border-style: solid;
    width: min-content;
    padding: 5px;
    display: flex;
    flex-direction: column;
    background-color: white;
    right: 0;
    position: fixed;
    margin-right: 1px;
}

.clicable {
    margin: 5px;
    cursor: pointer;
}

.user-name {
    border-color: black;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    padding: 5px;
    margin: 0 !important;
}